body{
  margin : 0 auto;
 font-family: Gill Sans MT ;
 background-color: #161d28;
}

img{
  width: 25%;
  min-width: 100px;
}

header,
footer{
  color: white;
  background-color: #192733;
  padding: 1.5rem;
}

footer{
  margin-top:2rem;
}

a{
  text-decoration: none;
  color: #7c77fe
}

a:hover{
  color: cyan
}

.container{
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1{
  font-size : 2.5rem;
  font-weight : 20px
}

h2{
  font-size: 1.5rem;
  font-weight: 1;
}

p{
  font-size: 1.5rem;
  text-transform: uppercase;
  color : white;
}

.p-footer{
  font-size: 1rem;
}

.p-submit{
  font-size: 1.20rem;
}

/* FORM ELEMENT */

.input-box{
  font-size: 1.5rem;
  padding: 1rem;
  border : 2px solid #161d28;
  border-radius: 2em;
}

.submit-button{
  margin-top:1rem;
  margin-left: 1rem;
  font-family: Gill Sans MT;
  background-color: #7c77fe;
  border-radius: 10em;
  padding: 0 2rem;
}

.form{

  justify-content: center;
}

.submit-button:hover{
  background-color: #6c7077;
}

.row{
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.container-medium{
  /* border : 1px solid black; */
  background : #7c77fe;
  border-radius : 10px;
  width : 65%;
  box-shadow : 10px 10px #6c7077;
  justify-content: space-between;
}

.container-small{
  /* border : 1px solid black;; */
  width : 30%;
  background : #7c77fe;
  border-radius : 10px;
  box-shadow : 10px 10px #6c7077;
}

.main{
  display:flex;
  justify-content: space-around;
}

@media(max-width:700px){
  .row{
    flex-direction: column;
    margin-top: 0;
  }
  .container-medium{
    margin: 1rem 0;
    width: 100%;
  }
  .container-small{
    margin: 1rem 0;
    width : 100%
  }
}