html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #202c3f;
}

img:not(.large-icon) {
  min-width: 100px;
  margin-top: 2rem;
}


footer {
  color: white;
  background-color: #192733;
  padding: 1.5rem;
}

header {
  margin-bottom: 2rem;
 text-align: center;
 color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: #7c77fe;
}

a:hover {
  color: cyan;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

/* TYPOGRAPHY */
.title {
  font-size: 4rem;
  font-weight: 50px;
  padding-left: 0.6rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 1;
}

p {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}

.p-footer {
  font-size: 1rem;
}

.p-submit {
  font-size: 1rem;
  border: none;
}

.p-message {
  margin: 0px;
  font-size: 0.95rem;
}

/* FORM ELEMENT */
.input-box:active {
  border: 3px solid gray;
}
.input-box {
  font-size: 1.2rem;
  padding: 1rem;
  border: 2px solid #161d28;
  border-radius: 2em;
  outline: none;
  margin-left: 0.8rem;
}

.submit-button {
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: Arial, sans-serif;
  background-color: #7c77fe;
  border-radius: 10em;
  padding: 0 2rem;
  cursor: pointer;
}

.cancel-button {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.form {
  justify-content: center;
}

.submit-button:hover {
  background-color: #6c7077;
}

/* INFORMATION CARD */

.row {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
/* Container styles */
.container-small,
.container-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
  padding: 2%;
  border-radius: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

/* Small container styles */
.container-small {
  width: 30%;
  background: linear-gradient(135deg, #7c77fe, #835ef5); /* Gradient background */
  box-shadow: 5px 5px 10px rgba(108, 112, 119, 0.4);
}

.container-small:hover {
  background: linear-gradient(135deg, #835ef5, #7c77fe); /* Gradient background on hover */
  transform: scale(1.05); /* Scale up on hover */
}

/* Medium container styles */
.container-medium {
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  background: linear-gradient(135deg, #7c77fe, #835ef5); /* Gradient background */
  box-shadow: 5px 5px 10px rgba(108, 112, 119, 0.4);
}

.container-medium:hover {
  background: linear-gradient(135deg, #835ef5, #7c77fe); /* Gradient background on hover */
  transform: scale(1.05); /* Scale up on hover */
}


.container-medium:hover {
  transform: scale(1.025);
}



.container-small:hover {
  transform: scale(1.025);
}

.large-icon {
  height: 12rem;
  width: auto;
}

.medium-icon {
  height: 6rem;
  width: auto;
}

.text {
  text-align: right;
}

.toast-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
}
.github{
  font-size: 30px;
}
.github  :hover{
  color:rgb(56, 44, 214);
}

.toast {
  padding: 0.3rem 0.75rem;
  background: #7c77fe;
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
  .row {
    flex-direction: column;
    margin-top: 0;
  }

  .container-medium {
    margin: 1rem 0;
    width: 90%;
    transition: transform 0.5s ease;
  }

  .container-medium:hover {
    transform: scale(1.025);
  }

  .container-small {
    margin: 1rem 0;
    width: 90%;
    transition: transform 0.5s ease;
  }

  .container-small:hover {
    transform: scale(1.025);
  }
  .p-message {
    font-size: 0.75rem;
  }
  P {
    font-size: 1rem;
  }
  .tittle {
    font-size: 2rem;
    padding-left: 0.5rem;
  }
}

.toast-message.Toastify__toast-theme--light {
  background-color: #7c77fe;
  color: #ffffff;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #84da6e;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  z-index: 1;
  top: 40%;
  left: 45vw;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
